version: '3.8'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: world
    volumes:
      - ./db/world-db/world.sql:/docker-entrypoint-initdb.d/world.sql
    ports:
      - "3306:3306"
    restart: always  # Keep the db service running if it crashes

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db