name: A workflow for my Hello World App
on: push

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-20.04

    env:
      DB_URL: ${{ secrets.DB_URL}}
      DB_USER: ${{ secrets.DB_USER}}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD}}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn package

      - name: Run docker compose
        run: docker compose up --abort-on-container-exit

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build and run tests
        run: mvn test
